<div class="main">
<h2>Main Component</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti temporibus cumque voluptates quasi eveniet, inventore vitae eius illum officia voluptatibus adipisci odio harum sint quia, repudiandae maiores dolorum distinctio animi.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti temporibus cumque voluptates quasi eveniet, inventore vitae eius illum officia voluptatibus adipisci odio harum sint quia, repudiandae maiores dolorum distinctio animi.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti temporibus cumque voluptates quasi eveniet, inventore vitae eius illum officia voluptatibus adipisci odio harum sint quia, repudiandae maiores dolorum distinctio animi.
</p>
</div>